.container {
  display: flex;
  background-color: honeydew;
}

.picture {
  align-items: left;
}

.paragraph {
  align-items: left;
  font-weight: bold;
}

.form {
  align-items: left;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 5px;
}

.form > * {
  grid-area: auto;
  display: grid;
}

.form h2 {
  grid-area: 1 / 1 / 2 / 3;
}

/* .form-item {
  color: red;
  display: grid;
  grid-column: 1 / 3;
  margin: 10px;
} */

.content {
  align-items: left;
}
.button {
  background-color: green;
  color: white;
}
